@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.lucide {
  width: 18px;
  height: 18px;
}

/* styles.css */
.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ibm: 'IBM Plex Sans', sans-serif; /* Add IBM Plex Sans as a CSS variable */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ibm); /* Use IBM Plex Sans as the default font */
}

/* Override Ant Design font */
.ant-typography,
.ant-menu-item,
.ant-btn {
  font-family: var(--font-ibm) !important;
}